* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	font-family: "Caslon"

}

@font-face {
	font-family: "Caslon";
	src: url(./Libre_Caslon_Text/LibreCaslonText-Regular.ttf);
	
}
.thx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top:#efbb7e 4px solid;
    border-bottom:#efbb7e 4px solid;
    margin-top: 150px;
    height: 50vh;
    width: auto;
    color: #b17f4a; 
}
    