*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: 'Caslon';
  src: url(Libre_Caslon_Text/LibreCaslonText-Regular.ttf);
}

.containergrand{
    /* margin: 10px; */
    /* background-color:#f7f6f5;  */
    font-family: 'Caslon', serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


h1{
  font-size: 30px;
}

h2{
  display:flex;
  justify-content:center;
  align-items:center;
}

p{
  font-size:20px;
}

.haut{
  display:flex;
 margin:0px;
  justify-content:space-evenly;
  align-items:center;
  border: black solid 1px;
  background:rgb(190, 148, 106); ;

}

img{
  height:350px;
  width:280px;
}

ul{
  font-size:20px;
  list-style:none;
}

.div1{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin:30px;
}

.h2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article {
  line-height: 1.6;
} 

.s1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: bisque 1px solid;
  height:100vh;    
}

.bas{
  margin:0px;
  background:rgb(190, 148, 106);

  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

/* ------------------- fin - S1 ------------------- */


/* ------------------- S2 ------------------- */

.s2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: bisque 1px solid;
  height:100%;
}

.livraison{
  
  width:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.6;
}

.livraison .p, .titre{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form{
  height:30px;
  width:auto;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.paye2 p{
  display:flex;
  justify-content:center;
  align-items:center;
}

.img img{
  height: 30px;
  width:40px;
  
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.paye1{
  display: flex;
    /* height:20px; */
    /* width: fit-content; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    background-color: #EFBB7E;
    font-family: 'Caslon';
    padding: 20px 40px;
    align-self: center; 
    font-size: 20px;
}

.paye1:hover {
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
  font-size: 21px;
}

.footer{
  background:rgb(190, 148, 106);
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

/* ------------------- fin - S2 ------------------- */






   