* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caslon", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Caslon";
  src: url(./fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf);
}

a {
  text-decoration: none;
}

main img {
  display: block;
  max-width: 100%;
  box-shadow: 0px 4px 10px #b17f4a;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.container-img {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.pois {
  margin-top: 20px;
  margin-left: 20px;
}

.infos-hover {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  color: black;
  text-align: center;
  background: rgba(247, 247, 247, 0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.infos-hover p {
  text-align: center;
  font-size: medium;
  font-weight: normal;
  text-align: center;
  display: block;
  margin-top: 4px;
  line-height: 180%;
}

.container-img:hover .infos-hover {
  height: 12%;
}

figcaption {
  color: black;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

/* BOX 1 */
.box1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.box1bis {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: auto;
  font-size: 40px;
  text-align: center;
}

/* BOX 2 */
.box2 {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  padding: 20px;
}

/* BOX 3 */
.box3 {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  padding: 20px;
}

/* BOX 4 */
.box4 {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  padding: 20px;
}

/* BOX 5 */
.box5 {
  display: flex;
  gap: 20px;
  padding: 20px;
}
/* ---------- Media Queries ---------------- */
@media screen and (max-width: 992px) {
  .container-img:hover .infos-hover,
  .infos-hover {
    display: none;
  }
  h2 {
    font-size: 30px;
  }
  figcaption {
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 766px) {
  .box1 {
    flex-direction: column-reverse;
    justify-content: space-around;
    margin: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
  figcaption {
    font-size: 15px;
  }
  .pois {
    margin-left: 0;
  }
  .box2 {
    flex-direction: column;
  }
  .box3 {
    flex-direction: column;
  }
  .box4 {
    flex-direction: column;
  }
  .box5 {
    flex-direction: column;
  }
}

/* ! HEADER AND FOOTER */

/* ASCENSEUR */
#scroll_to_top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 100;
}

main,
header,
footer {
  max-width: 100%;
  overflow: hidden;
}

/*--------- HEADER -------- */
header {
  font-family: "Caslon", serif;
  box-shadow: 0 0 10px #b17f4a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 90px;
}

header .LOGO {
  position: relative;
  width: 130px;
}

header .picto img {
  height: 40px;
  margin: 15px;
}

header .picto {
  display: flex;
}

header form input {
  border: none;
  text-decoration: underline;
  width: 120px;
  font-family: "Caslon", serif;
  margin-left: 30px;
  font-size: 18px;
  color: black;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
}

.header-left h3 {
  color: black;
  font-size: 20px;
}

.header-left .promo {
  color: #b17f4a;
}

.header-right input {
  border: none;
  font-family: "Caslon";
  font-size: 20px;
  color: black;
  width: 150px;
  height: 40px;
}

.header-right input:hover {
  border-bottom: 2px solid black;
  background: url(./images/Vector.png) no-repeat 95%;
}

/* ----------- MENU DEROULANT -------- */
#topnav_menu {
  display: block;
  position: absolute;
  left: 0;
  top: 90px;
  margin: 0;
  width: 800px;
  height: 100vh;
  z-index: 99;
  transform-origin: 0% 0%;
  transform: translate(-200%, 0);
  transition: transform 1s;
}

/* And let's slide it inside from the left */
#topnav_menu.open {
  transform: none;
  position: fixed;
}

#topnav_menu .grande-categorie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 50px;
  text-align: left;
  background: rgba(255, 255, 255, 0.85);
  list-style-type: none;
  gap: 10px;
}

#topnav_menu ul {
  position: relative;
  padding: 0 80px;
  list-style-type: none;
}

#topnav_menu .grande-categorie li {
  padding: 10px;
  font-size: 20px;
}

#topnav_menu ul li {
  font-size: 16px;
}

#topnav_menu a {
  white-space: nowrap;
  color: black;
  text-decoration: none;
}

#topnav_menu a:hover {
  font-weight: 700;
}

#topnav_icon {
  user-select: none;
  -webkit-user-select: none;
}

/*----- RESPONSIVE HEADER ------ */
.pc {
  display: block;
}

.mob {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc {
    display: none;
  }
  .mob {
    display: block;
  }
  .root a {
    display: none;
  }
  .responsive {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #burger {
    height: 24px;
    width: 42px;
    cursor: pointer;
    position: relative;
    margin: 15px;
  }
  #burger span {
    width: 100%;
    height: 4px;
    background-color: #b17f4a;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
    border-radius: 15px;
  }
  #burger span::before,
  #burger span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #b17f4a;
    transition: transform 0.5s ease-in-out;
    border-radius: 15px;
  }
  #burger span::before {
    transform: translateY(-10px);
  }
  #burger span::after {
    transform: translateY(10px);
  }
  #burger.active span {
    background-color: transparent;
  }
  #burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
  }
  #burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
  }
  header .LOGO {
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  header .picto a img {
    height: 30px;
    margin: 8px;
  }
  #topnav_menu .grande-categorie {
    grid-template-columns: 1fr;
    grid-template-rows: repeat (4, auto);
  }
  #topnav_menu ul li {
    line-height: 5px;
    font-size: 14px;
  }
  .petite-categorie {
    display: none;
  }
  .petite-categorie.open {
    display: block;
  }
}

/*------------ FOOTER ---------------- */
footer {
  background-color: #ffdbb0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer .bloc {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .bloc > * {
  margin: 20px;
}

footer .bloc1,
footer .bloc2,
footer .bloc3 {
  text-align: center;
  margin: 15px;
}

footer h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

footer li {
  list-style-type: none;
  line-height: 170%;
}

footer li a {
  text-decoration: none;
  color: black;
}

footer li a:visited {
  color: black;
}

footer li a:hover {
  color: brown;
}

footer .picto img {
  height: 30px;
}

footer .picto {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer a {
  text-align: center;
  color: white;
  margin: 30px;
}

/* Responsive footer */
@media screen and (max-width: 600px) {
  footer .bloc {
    flex-direction: column;
  }
  footer .bloc h1 {
    font-size: 15px;
  }
}
